:root{
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}
@font-face {
    font-family: hanken;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Pale-blue);
    font-family: hanken;
    color: var(--White);
}
.container{
background-color: var(--White);
max-width: 650px;
width: 95%;
display: flex;
border-radius: 20px;
overflow: hidden;
}
.left{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    border-radius: 20px;
    width: 100%;

}
.score-circle{

    border-radius: 50%;
    margin: auto;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
width: 130px; 
height: 130px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.right{
    padding: 10px;
    color: var(--Dark-gray-blue);
    width:100%;
}
.sum-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    margin: 10px 0;
}
.sum-div div{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.sum-div div p{
    font-size: 20px;
    padding-left: 10px;
}
.sum-div div span{
    font-size: 21px;
    font-weight:600;
    color: var(--Dark-gray-blue);
}
.sum-div div:last-of-type{
    color: var(--Light-lavender);
    padding: 0 5px;
}
.sum-div img{
    padding: 3px;
}
button{
    color: var(--White);
    background-color: var(--Dark-gray-blue);
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.left h2{
    font-size: 24px;
    padding: 15px 0;
    color: var(--Pale-blue);
}
.text{
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 18px;
    color: var(--Light-lavender);
    padding: 15px 0;
}

@media only screen and (max-width:450px) {
    .container{
        flex-direction: column;
    }
     .right{
        width: 90%;
    }

    
}

.attribution{
    color: var(--Dark-gray-blue);
    font-size: 14px;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: var(--Cobalt-blue);
}
